Screen {
	layout: grid;
	align: center middle;
}

#idea-grid {
	grid-size: 3;
	grid-gutter: 0;
	width: 100%;
	height: 1fr;
}

#idea-grid > * {
	height: 1fr;
	width: 1fr;
	align: center middle;
	content-align: center middle;
}

#generate-button {
	dock: bottom;
	margin: 1 0;
	align-horizontal: center;
}
